.idea/*
composer.phar
composer.lock
vendor/*
*.swp
.buildpath
.project
.settings
.vagrant

*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*
